            @font-face {
                font-family: "My Custom Font";
                src: url(BENSMD_.ttf) format("truetype");
            }
        
        body {
            font-family: Verdana, Tahoma;
			background-color: #c2ddff
        }
        
		.logoB{
			float: left; 
			margin: 5px; 
			z-index:10; 
			position: absolute;
	        width: 40px;
		}
		
	    .playImg{
	        width: 35px;
	        float: left;
	        margin-top: 2%;
	        margin-left: 70px;
        
	    }
		
        .homeIcon{
            width: 25px;
            float: right;
            margin-right: 12px;
            margin-top: 10px;
         
        }
        
        h1, .h1, h2, .h2, h3, .h3 {
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
            padding: 5px;
            padding-left: 35px;
            text-align: left;
            
        }
        
        h4, .h4, h5, .h5, h6, .h6 {
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 23px;
        }
        
        button{
            margin-top: 10px;
        }
        
        .btn-info {
            color: #17365d;
            background-color: #e1eeff;
            border-color: #e1eeff;
        }
        
        .minuteContainer{
            width: 100%;
            padding: 2.5px;
        }
        
        .buttonIcon{
        background-color:#c2ddff;
        width: 60px;
        height: 60px;
        }
        
        .iconContainer{
        height: 80px;
        }
